body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* primary-color: #536DFE */
/* secondary-color: #6A3DE8 */
/* primary-color: #FFFFFF */
